<?xml version="1.0"?>
<launch>
  <arg name="robot" default="vector" />
  <arg name="problem" default="example_vector" />

  <node name="steap_interface" pkg="piper" type="steap_interface" output="screen" />

  <rosparam command="load" file="$(find piper)/config/$(arg robot).yaml" />
  <rosparam command="load" file="$(find piper)/problem/$(arg problem).yaml" />
</launch>
